.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 48px;
  background: linear-gradient(90deg, #000000, #0b0b0b);

}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 22px;
}

.logo-text {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mode-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Log In */
.login-btn {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* Get Started */
.get-started-btn {
  background-color: #ff7a18;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #ff8c2b;
}
